/* For the variable font */
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

/* For italic variable font */
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}

/* For the static font */
@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --clr-primary: 47, 88%, 63%;
  --clr-white: 0, 0%, 100%;
  --clr-grey: 0, 0%, 50%;
  --clr-black: 0, 0%, 7%;

  --ff-figtree: "Figtree", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-figtree);
  font-weight: 500;
  padding: 1.5rem;
  background: hsl(var(--clr-primary));
  color: hsl(var(--clr-black));
  display: flex;
  align-items: center;
  justify-content: center;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2 {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.extrabold {
  font-weight: 800;
}

.card {
  background: hsl(var(--clr-white));
  max-width: 24rem;
  padding: 1.5rem;
  border: 1px solid hsl(var(--clr-black));
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem hsl(var(--clr-black));
}

.img-wrapper {
  border-radius: 0.625rem;
  overflow: hidden;
}

.card__body {
  margin-block: 1.5rem;
}

.card__tag {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  background: hsl(var(--clr-primary));
  border-radius: 0.25rem;
}

.card__published-date {
  display: block;
  margin-block: 0.75rem;
  font-size: 0.75rem;
}

.card__title {
  font-size: 1.25rem;
}

.card__title:hover {
  color: hsl(var(--clr-primary));
  transition-duration: 200ms;
}

.card__description {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  color: hsl(var(--clr-grey));
}

.card__author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card__author-avatar {
  max-width: 2rem;
}

.card__author-name {
  font-size: 0.875rem;
}

@media (min-width: 40rem) {
  .card__tag,
  .card__published-date {
    font-size: 0.875rem;
  }

  .card__title {
    font-size: 1.5rem;
  }

  .card__description {
    font-size: 1rem;
  }
}
